.forgot-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.forgot-container h2 {
    color: black;
  text-align: center;
  margin-bottom: 20px;
}

.forgot-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.forgot-container button {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.forgot-container button:hover {
  background-color: #004a99;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 5px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 5px;
}

.back-arrow {
  cursor: pointer;
  color: #0066cc;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  transition: color 0.2s;
}

.back-arrow:hover {
  color: #004a99;
}
